

html, body {
	padding:0;
	margin:0;
}

#init-error {
	padding-left: 24px;
}

#init-error > h2 {
	color: red;
}

#game {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height:95%;
	padding: 20px;
}

#game-content {
	/*width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height:98%;
	padding-top: 20px;
	background-color:#99A;
	border: 2px solid lightslategray;
	border-radius: 10px;*/
}

#init-menu {
	/*background-color:#5A5;*/
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	width:200px;
}

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	margin-top:10px;
}

.btn.add-user {
	width: 220px;
}

.btn.add-bot {
	margin-top: 20px;
	width: 220px;
}

input.add-user {
	width: 196px;
}

input {
	padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


table#table-board {
	width:100%;
	height: 80%;
	background-color: blue;
	border-spacing: 100;
}

table.game-board-table > tr {

}

table.game-board-table > tr > td {
	width: 500px;
}

table.battlefield{
	border-spacing: 0;
}

table.battlefield > tr > td {
	width:36px;
	height:34px;
	border: 1px solid lightcoral;
}

table.battlefield > tr > td.init {
	background-color: #cbfdff;
}

table.battlefield > tr > td.new {
	background-color: gray;
}

table.battlefield > tr > td.ship {
	background-color: black;
}

table.battlefield > tr > td.wrong {
	background-color: indianred;
}

table.battlefield > tr > td.beside {
	background-color: #cbfdff;
}


table.battlefield > tr > td.wounded {
	background-color: rgb(92, 16, 16);
}

table.battlefield > tr > td.destroyed {
	background-color: deeppink;
}

table.battlefield > tr > td.default {
	background-color: transparent;
}